.title-cards {
    margin-top: 50px;
    margin-bottom: 30px;

    h2 {
        margin-bottom: 8px;
    }
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;


    /* Hide scrollbar for WebKit-based browsers */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Optional - prevents unwanted scrolling while hiding scrollbars */
    -ms-overflow-style: none; /* For IE and Edge */

    img {
        width: 240px;
        border-radius: 4px;
        cursor: pointer;
    }

    .card {
        position: relative;
    }

    p {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-weight: 600;
        color: #fff;
    }
}


div.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.2);
    transition: opacity 0.3s ease;
}

@media (max-width: 800px) {
    .title-cards {
        margin-top: 20px;
        margin-bottom: 0;

        h2 {
            font-size: 20px;
        }
    }

    .card-list {
        img {
            width: 200px;
        }
        p {
            font-size: 12px;
        }
    }
}

@media (max-width: 500px) {
    .title-cards {
        h2 {
            font-size: 15px;
        }
    }

    .card-list {
        img {
            width: 165px;
        }
        p {
            font-size: 10px;
        }
    }
}